.fil{
    margin:3px auto 8px auto;
}
body{
    height: 730px;
    background-color: lightgray;
}
.list{
    list-style:none;
    display: flex;
    gap: 10px;
    float:right;
    margin-right: 6%;
}
.select{
    margin-left: 3%;
    margin-top: 5%;
}
#button{
    background-color: red;
    border: 1px ridge white;
    padding:5px;
}
a{
    text-decoration: none;
    color: white;
}

.buttons{
    text-align: center;
    padding-right:300px;
}
ul{
    list-style:none;
    padding-bottom: 3px;
    margin-right: 20px;
    padding-left: 0%;
    
}
.food{
    margin-left: 44px;
    
}
.id{
    margin-left:60px;
    padding: 4%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-bottom: 10px;
}
.pointer{
    display:inline-block;
    width: 600px;
    height: 240px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 1%;

}
img{
    padding:15px;
    border-radius: 30%;
    float:left;
    height: 100px;
    width:100px;
}
.op{
    padding-left: 14px;
}

.piece{
    padding-left: 14px;
    margin:20px auto 4px auto;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.food{
    padding-left: 25px;
}

.fil{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-top: 0%;
}
.pot{
margin: 0%;
font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.pots{
    margin:0%;
    margin-bottom: 6px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
   
}
.sort{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}
.cui{
    font-family: Poppins;
    font-size: 14px;
    color: #192f60;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
}
.checkbox{
    font-family: Poppins;
    font-size: 14px;
    color: #8c96ab;
    line-height: 1.5;
}
.cuis{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #192f60;
    width: 31%;
    margin: 0px auto 3px 20px ;
    float:left;
    display: inline-block;

}
.line{
    padding:8px 28px 12px 28px;
    margin: 0%;
    color: lightgray;
}
.bakery{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #636f88;
    margin-top: 1%;
    padding-left: 20px;
}

.money{
display: inline-block;
margin-top: 1%;
font-family: Poppins;
font-size: 16px;
font-weight: normal;
text-align: left;
color: #636f88;
}
.cost{
    display: inline-block;
    width: 30%;
    margin:  0px auto 4px 16px;
    float: left;
    padding:1%;
    clear:both;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #192f60;
}
.buttons{
    text-align: center;
    margin:20px auto auto 50px;
}.select{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px #8c96ab;

}
.pin{
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    color: red;
    font-size: 35px;
    margin: 8px auto auto 5%;
    font-weight: bold;
   }
   .loca{
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    color: #192f60;
   }
   footer button:hover{
background-color:;
   }
  .id:hover{
    background-color: rgb(178, 230, 130);
    transition: all  ease-in-out 0.5s;

   }
   .pointer:hover{
    background-color: rgb(231, 225, 136);
    transition: all  ease-in-out 0.5s;
   }
   .cui{
    font-weight: bold;
   }
   .cuis{
    font-weight: bold;
    opacity:0.9;
   }
   .cost{
    font-weight: 570;
    opacity: 0.9;}
   .bakery{
    font-weight: 600;
   }
   .money{
    font-weight: 600;
   }
   a:hover{
    color: rgb(238, 237, 160);
   }
   #button:hover{
    background-color:#8c96ab;
   }

body{
    height: 810px;
}

   button li{
    transition: all 500ms ease;
   }